<!doctype html>

<html>
<head>
	<title>Very Good!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/smallTalk.css" rel="stylesheet">

    <style>
       
        .victory{
            background: #ffb347; 
            background: linear-gradient(to left, #ffb347 , #ffcc33); 
            background: linear-gradient(to left, #ffb347 , #ffcc33); 
        }
        
        .bigbtn{
            height:600%;
            margin:15px;
            width:40%;
            text-align:center;
            font-size:150%;
        }
        .mediumbtn{
            height:300%;
            width:40%;
            margin:15px;
            text-align:center;
        }
        .titlePage{
            font-size:250%
        }
           
    </style>     
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body class="victory">
	<div class="container" >
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div align="center"> 
			<h1 class="titlePage">
				CHALLENGE COMPLETE!!
			</h1>
		</div>

        <div align="center">
		<a href="/index">
			 <button class="mediumbtn">MAIN MENU</button>
		</a>
        
        <div>
		<a href="/entry">
			<button class="bigbtn">WRITE ABOUT IT!</button>
		</a>
        </div>
        </div>
    </div>
     


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
