<!doctype html>

<html>
<head>
    <!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='142124417-2',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

	<title>Very Good!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/smallTalk.css" rel="stylesheet">

    <style>

        .victory{
            background: #ffffff;
            /*
            previous color #FFBE61
            */

        }
        node
        .bigbtn{
            height:600%;
            margin:15px;
            width:40%;
            text-align:center;
            font-size:150%;
        }
        .mediumbtn{
            height:300%;
            width:40%;
            margin:15px;
            text-align:center;
        }
        .titlePage{
            font-size:250%
        }

    </style>
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body class="victory">
	<div class="container" >
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div align="center">
			<h1 class="titlePage">
				CHALLENGE COMPLETE!!
			</h1>
		</div>

    <div align="center">
			<a href="/index">
				 <button class="mediumbtn">MAIN MENU</button>
			</a>

	    <div>
				<h3 class="challenge">Completed: {{challenge}}</h3>
				<form action="/entry" method="post" id="challengeDone">
					<input type="hidden" name="challenge" id="challengeInput" value="{{challenge}}">
				</form>
				<button type="submit" form="challengeDone" value="Completed"  class="bigbtn">WRITE ABOUT IT!</button>
      </div>
    </div>
  </div>

    
    
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93157314-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
