<!doctype html>

<html>
<head>
	<title>Guide</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <style>   
        .topRightCorner{
			position: absolute;
			top:0;
			right:0;
		}
        .subtitle{
            font-size:25px;
            text-align: center;
        }
        .tipsList{
        	font-size: 20px;
        }
        
        
    </style>
</head>

<body>
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="topRightCorner">
			<a href="/">
				<img src="images/homeBut.jpg" alt= "back to main menu     ">
			</a>
		</div>

		<div class="text-center">
			<h1>GUIDE</h1>
		</div>


		<hr style="height:4px;border:none;color:#333;background-color:#333;" />

		<p class="subtitle">Tips on Talking To Strangers and Other People</p>

		<div>
			<ol>
				<li><span class="tipsList">Make sure you are not looking at your phone while talking to the stranger!</span>
					<ul>
						<li>It is not nice to seem like you are not paying attention to the person you are talking to!</li>
						<li>Maintain eye contact so it shows that you are invested in the conversation, adding the frequent head nod.</li>
					</ul>
				</li>
				<li><span class="tipsList">When meeting someone for the first time, do not be rude!</span>
					<ul>
						<li>Remember to introduce yourself!</li>
						<li>Respect their opinions</li>
					</ul>
				</li>
				<li><span class="tipsList">Be friendly!</span>
					<ul><li>No one wants to talk to a person who is complaining or in a negative mood!</li></ul>
				</li>
				<li><span class="tipsList">Tip 4</span></li>
				<li><span class="tipsList">Tip 5</span></li>
			</ol>
		</div>



	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
