<!doctype html>

<html>
<head>
	<title>Help</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    <style>   
        .topRightCorner{
			position: absolute;
			top:0;
			right:0;
		}
        .subtitle{
            font-size:25px;
            text-align: center;
        }
        
        
    </style>
    
</head>

<body>
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="topRightCorner">
			<a href="/">
				<img src="images/homeBut.jpg" alt="back to main menu	">
			</a>
		</div>
        
		<div class="text-center">
			<h1>HELP</h1>
		</div>

		<hr style="height:4px;border:none;color:#333;background-color:#333;" />

		<p class= "subtitle" >Frequently Asked Questions</p>
        <div>
			<h4>How do I get a challenge?</h4>
            <p>From the home page, click on the image that contains the phrase "Get Challenge". </p>
		</div>
        
        <div>
			<h4>What is the general tips page?</h4>
            <p>The general tips page are general tips that you could follow when talking to strangers. These tips include what you shoudn't say and how you to avoid awkward situations.</p>
		</div>
        
        <div>
			<h4>What is the history page and how do I get there?</h4>
            <p>You get to the history page by clicking on the image that contains the phrase "History". The history page will contain the past challenges you've done and the logs you've written in regard to those challenges that you have completed.</p>
		</div>
        
        <div>
			<h4>What is the history page and how do I get there?</h4>
            <p>You get to the history page by clicking on the image that contains the phrase "History". The history page will contain a list of the past challenges you've done.</p>
		</div>
        
        <div>
			<h4>How do I view my log entries?</h4>
            <p>By clicking on one of the dates listed in the history page, you will be able to view your log entries in regard to challenges you've done on that day.</p>
		</div>
        
          <div>
			<h4>What am I suppose to write on my log entries?</h4>
            <p>Write how you felt doing the challenges and other notes that you could look back on to show how much you change when talking to strangers as you gain more experience interacting with people you don't know. </p>
		</div>
        
    


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
