<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/smallTalk.css" rel="stylesheet">
	<style>


        .main {
    		border-collapse: separate;
   			border-spacing: 20px;
           
		}
        
    
	</style>
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body class="backgroundColor">
   
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div align="center">
			<h1 class="indexTitlePage">
				SmallTalk
			</h1>
		</div>

        <div align="center">
            <a href="challenge" >
				    <button class="bigbtn">Get Challenge</button>
				</a>
        <a href="history">
					 <button class="bigbtn">My History</button>
				</a>    
        </div>    
        <div align="center">
            
				<a href="help">
					 <button class="mediumbtn">HELP</button>
				</a>
            
            <a href="guide">
                    <button class="mediumbtn">GENERAL TIPS</button>
				</a>
        </div>     
    </div>
     <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93157314-1', 'auto');
  ga('send', 'pageview');

</script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
