.backgroundColor{
    background: #FFBE61; 
    /*background: linear-gradient(to left, #FF512F , #F09819); 
    background: linear-gradient(to left, #FF512F , #F09819); */
    width:100%;   
}


.titlePage{
    color: #0B76BC;
    font-size: 450%;
    
    letter-spacing:1px;
    text-align:center;
    width: 90%;
   
}

.subHeader{
    color: #0B76BC;
    font-size: 200%;

    letter-spacing:1px;

}

.bigbtn {
  background: #3498db;
  background-image: linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 8;
  border-radius: 8;
  text-shadow: -1px 0px 5px rgba(0, 0, 0, 1);
  border-radius: 8px;
  color: #ffffff;
  font-size: 200%;
  padding: 40px 40px 40px 40px;
  width: 60%;
  height: 150%;
  text-align: center;
  text-decoration: none;
  margin: 10px;
}


.mediumbtn {
  background: #3498db;
  background-image: linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 8;
  border-radius: 8;
  border-radius: 8px;
  text-shadow: -1px 0px 5px rgba(0, 0, 0, 1);
  color: #ffffff;
  width: 60%;
  height: 250%;
  font-size: 150%;
  text-align: center;
  padding: 10px 40px 10px 40px;
  margin: 10px;
}

.smallbtn {
  background: #3498db;
  background-image: linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 8;
  border-radius: 8;
  border-radius: 8px;
  text-shadow: -1px 0px 8px rgba(0, 0, 0, 1);
  color: #ffffff;
  width: 200px;
  height: 50px;
  font-size: 26px;
  padding: 10px 40px 10px 40px;
}

.backbtn {
  background: #3498db;
  background-image: linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 80;
  border-radius: 60;
  border-radius: 80px;
  width:150px;
  color: #ffffff;
  font-size: 15px;
  padding: 36px 28px 26px 18px;
  text-decoration: none;
 
}

.homebtn {
  background: #3498db;
  background-image: linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 60px;
  border-radius: 80px;
  border-radius: 60px;
  color: #ffffff;
  font-size: 20px;
  padding: 36px 28px 26px 18px;
}

